/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

gallery {
  background-color: #e7e5e5 !important;
  border-radius: 6px;
}
