.button , .button * {
  //transition: all 1s;
}
.loading {
  opacity: 0;

  &.show {
    opacity: 1;

  }
}

.w-100 {
  width: 100%;
}

.btn-login * {
  //transition: all 0.5s;
}

.btn-login .text {
  //position: absolute;
  //transform: translateX(-54px);

  &.show {
    //transform: translateX(0);
  }
}
