<div class="col-12 col-md-6 offset-md-3">
  <form
    (ngSubmit)="onSubmit()"
    *ngIf="!isLoggedIn"
    [formGroup]="form"
  >
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        formControlName="username"
        type="text"
      >
      <div
        *ngIf="submitted && form.controls.username.errors"
        class="alert alert-danger mt-1"
        role="alert"
      >
        Username is required!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        formControlName="password"
        type="password"
      >
      <div
        *ngIf="submitted && form.controls.password.errors"
        class="alert alert-danger mt-1"
        role="alert"
      >
        <div *ngIf="form.controls.password.errors.required">Password is required</div>
        <div *ngIf="form.controls.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-login btn-block" [disabled]="loading">
        <span class="spinner-border spinner-border-sm loading" role="status" aria-hidden="true" [class.show]="loading"></span>
        <span class="text" [class.show]="loading" [class.d-none]="loading">Login</span>
      </button>
    </div>
    <div class="form-group">
      <div
        *ngIf="isLoginFailed"
        class="alert alert-danger"
        role="alert"
      >
        Login failed: {{ errorMessage }}
      </div>
    </div>
  </form>
  <div *ngIf="isLoggedIn" class="alert alert-success">
    Logged in as {{ roles }}.
  </div>
</div>
